@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Dosis", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 720px;
  margin: 0 auto;
  padding: 2rem;
}

button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.checked {
  text-decoration: line-through;
}

/* dosis-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Dosis";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/dosis-v27-latin-regular.woff2") format("woff2");
}

/* dosis-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Dosis";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/dosis-v27-latin-700.woff2") format("woff2");
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

hr {
  border: 1px solid #80c2ff1c;
  border-radius: 5px;
  box-shadow: 0 5px 10px #00000015;
}

code {
  padding: 5px;
  border-radius: 10px;
}
